


body {
    margin: 0;
    padding: 0;
    background-color: #050505;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    color: white;
}

#loginScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 100;
    position: relative;
    background: radial-gradient(circle, #1a1a1a 0%, #000000 100%);
}

.glow {
    color: #fff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
    font-size: 3rem;
    margin-bottom: 20px;
}

.row {
    display: flex;
    gap: 20px;
}

.box {
    border: 1px solid #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
}

input {
    padding: 10px;
    background: #000;
    border: 1px solid #0ff;
    color: #0ff;
    font-family: inherit;
    margin-bottom: 10px;
    width: 150px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background: #0ff;
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    font-family: inherit;
}

button:hover {
    background: #fff;
    box-shadow: 0 0 15px #0ff;
}

#gameUI {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#roomInfo {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #fff;
    text-shadow: 0 0 5px #fff;
}

#scoreboard {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
}

canvas {
    display: block;
}


/* --- MOBILE CONTROLS --- */
#mobileControls {
    display: none; /* Default PC par hidden rahega */
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
    z-index: 10;
    touch-action: none; /* Zoom/Scroll disable karne ke liye */
}

/* Sirf Mobile (Width < 900px) par dikhao */
@media (max-width: 900px) {
    #mobileControls {
        display: flex;
    }
}

.d-pad, .action-pad {
    display: flex;
    gap: 15px;
    align-items: flex-end;
}

.ctrl-btn {
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #0ff;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    outline: none;
    /* Touch friendly effect */
    transition: background 0.1s;
}

.ctrl-btn:active {
    background: rgba(0, 255, 255, 0.5);
    transform: scale(0.95);
}

.fire-btn {
    width: 80px; /* Shoot button thoda bada */
    height: 80px;
    border-color: #ff0055;
    background: rgba(255, 0, 85, 0.1);
    font-size: 30px;
}

.fire-btn:active {
    background: rgba(255, 0, 85, 0.5);
}